body {
	background: #fff;
	font: 18px 'Lucida Grande', 'Calibri', Helvectica, Arial, sans-serif;
	color: #333;
}

h1 {
	font-family: 'Lucida Grande', 'Calibri', Helvectica, Arial, sans-serif;
	color: #222;
	font-weight: 200;
	font-size: 38px;
	line-height: 1.2; 
}
